.cta {
    padding: 120px 0 40px 0;
}

.cta-mainwrapper {
    position: relative;
    display: flex;
    color: white;
    border: 2px solid;
    border-radius: 15px;
    padding: 20px 20px 30px 20px;
}

.cta-wrapper {
    width: 100%;
    max-width: 400px;
}

.cta-title {
    width: 100%;
    font-size: 2rem;
    color: #F9F4DA;
    margin-bottom: 20px;
    font-weight: 600;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-input {
    border-radius: 10px;
    outline: 2px solid #FEBF00;
    border: 0;
    color: #0D0F12;
    background-color: #F9F4DA;
    outline-offset: 3px;
    padding: 8px 0.8rem;
    transition: 0.25s;
    font-size: 0.9rem;
}

.name-input {
    margin-bottom: 20px;
}

.contact-btn {
    width: 100%;
    background-color: #FCBA28;
    color: #0D0F12;
    border-radius: 10px;
    border: 2px solid #fcf2cb;
    padding: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    margin-top: 30px;
    transition: 0.3s all;
}

@media screen and (max-width: 768px) {
    .cta {
        padding: 40px 0;
    }
    .cta-title {
        font-size: 1.8rem;
    }
    .contact-input {
        font-size: 0.8rem;
        padding: 6px 0.7rem;
    }
    .contact-btn {
        font-size: 16px;
        padding: 6px;
    }
    .cta-img {
        display: none;
    }
}
