.services {
    padding: 50px 0;
    background-color: #ffffff;
    
}

.services-title {
    font-family: "Paytone One", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: center;
}

.servicecard-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
width: 100%;
max-width: 1100px;
}

.servicecard {
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
    }


    
    .servicecard-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    
    border-radius: 8px;
    }

.servicecard-title {

    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 5px 0;
   
}
    